.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.avatar{
  position: relative;
  left: 80%;
  margin-right: 10px;
  
}

.menus{
  text-align: center;
}

.color{
  background-color: #42a5f5;
  color: white;
}
.opcion{
  cursor: pointer;
}
.material-symbols-outlined{
  margin-left: 10px;
  margin-top: 5px;
}

.cerrarses{
  margin-left: 820px;
  height: 40px;
  padding: 10px;
  background-color: rgb(16, 29, 143);
  border-radius: 5px;
  color:white;
  cursor: pointer;
  border: 1px solid rgb(243, 247, 243);
  position: relative;
}

.cerrarses:hover{
  background-color: red;
  color: black;
  border: 1px solid rgb(8, 8, 8);
}

.textoava{

margin-left: 1px;
}