table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .botonEditar span{
    color: rgb(0, 160, 0);
    position: absolute;
    display: inline;
    margin-left: -10px;

  }

  .botonEliminar{
    color: rgb(236, 4, 4);
    display: inline;
    margin-left: 30px;
  }
  .opcion{
    cursor: pointer;
  }